@model Weather.Models.Search

@{
    ViewBag.Title = "Index";
}

<div class="searchForm">
    <h2>Search for a location</h2>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary();
        @Html.EditorFor(m => m.CityName);
        @Html.ValidationMessageFor(m => m.CityName); <br />
        @:<input id="submit" type="submit" value="Search" />
    }
</div>