@model Weather.Models.Search

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();
    @Html.EditorFor(m => m.CityName);
    @Html.ValidationMessageFor(m => m.CityName);
    @:<input id="submit" type="submit" value="Visa väder" />
}